@import "tailwindcss";

/* Sidebar collapsed mode */
.sidebar-collapsed #appSidebar {
    transform: translateX(-100%);
}
.sideMenuContainer {
    width: 20%;
    height: 100vh;
    position: fixed;
    padding: 0 0 calc(70px + 25px) 0;
    background-color: #405189;
    box-shadow: 0px 2px 4px rgba(15, 34, 58, 0.12);
    animation: slide-in-from-left 1s ease;
}
@keyframes slide-in-from-left{
    0%{
        opacity: 0;
        transform: translateX(-50px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}
.sideMenuLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    height: 70px;
    width:100%;

}
.sideMenuLogo img{
    width:40px;
    height: 40px;

}
.sideMenuLogo span{
    font-size: 1.2rem;
    color: white;
}

.sideMenus {
    height: 100%;
    position: relative;
}
    .sideMenus p {
        padding: 12px 20px;
        color: #838fb9;
        letter-spacing: .05em;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 0;
    }

.sideMenusLinks button{
    width: 100%;
    display: flex;
    font-size: .9375rem;
    align-items: center;
    justify-content: space-between;
    color: #abb9e8;
    padding: .625rem 1.5rem;
    font-family: hkgrotesk, sans-serif;
    transition: all 0.2s ease;
    
}
    .sideMenusLinks button:focus{
        color: #fff;
    }
    .sideMenusLinks button span {
        display: flex;
        align-items: center;
        column-gap: 0.3rem;
        letter-spacing: 0.2px;
    }
    .sideMenusLinks button svg {
        width: 0.9rem;
        height: 0.9rem;
    }
.sideMenusLinks div{
    flex-direction: column;
}
.sideMenuHiddenLink {
    padding: .55rem 2.5rem;
    color: #abb9e8;
    position: relative;
    font-size: .813rem;
    font-family: Poppins, sans-serif;
    transition: all 0.5s ease;
}
.sideMenuHiddenLink:hover{
    color: #fff;
}
    .sideMenuHiddenLink:focus {
        color: #fff;
    }
@media (min-width: 1024px) {
    .sidebar-collapsed #appSidebar {
        width: 4rem;
        transform: none;
    }

        .sidebar-collapsed #appSidebar nav span {
            display: none;
        }
}

/*Topbar Container*/
.TopBarContainer {
    width: 80%;
    height: 70px;
    position: fixed;
    right: 0;
    top: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    animation: slide-in-from-top 1s 0.2s ease-in;
    z-index: 1100;
}

@keyframes slide-in-from-top{
    0%{
        opacity: 0;
        transform: translateY(-50px)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}
.icon-dropdown-container button img{
    width:20px;
}

.icon-dropdown-container button span {
    top: -5px;
    right: 1px;
    background-color: #099885;
    border-radius: 100%;
    font-size: 11px;
}
.icon-dropdown-container button{
    transition: all 0.5s ease;
}
.icon-dropdown-container button:hover {
    background-color: gray;
    border-radius: 100%;
    transform: scale(1);
    color: white;
}
.icon-dropdown-container:last-child button:hover{
    background-color: lightgray;
    border-radius: 5px;
    transform: scale(1.2);
    color: white;
}

.NotificationIcon {
    width: 300px;
    height: 400px;
    left: -300px;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px #878a99;
    background-color: #fff;
    overflow:scroll;
}
.NI1 {
    width: 100%;
    background-color: #405189;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    height: 80px;
}
.NI11 {
    justify-content: space-between;
    padding: 0.5rem;
    height: 45px
}
    .NI11 h5 {
        color: white;
        font-size: 1.2rem;
        font-family: Poppins, sans-serif;
    }
    .NI11 p{
        background-color:#fff;
        height: 25px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }
.NI12 {
    background-color: #fff;
    width: 60px;
    margin-left: 0.5rem;
    color: #405189;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0 0;
}
    .NI12 p{
        margin-bottom: 0;
    }

    .TpBtn:hover {
        transform: scale(0.8);
    }

.NI21{
    width: 100%;
    
}
    .NI21 div{
        justify-content: space-between;
    }
    .NI21 div p {
        width: 70%;
    }
    .NI21 div input {
        width: 5%;
    }
    .NI21 span {
        color: #878a99;
        display: flex;
        column-gap: 0.4rem; 
        align-items: center;
        
            
    }

.NI211 {
    border-bottom: 1px dotted #f3f3f9;
    padding-bottom:0.5rem;
}
    .NI211 div:first-child {
        display: flex;
        color: #405189;
        align-items:center;
        column-gap: 0.5rem;
    }
    .NI211 div:last-child {
        display: flex;
        align-items: center;
        column-gap: 1rem;
        color: #878a99;
        width: 47%;
        font-size: 10px;
    }
        .NI211 div:last-child i{
            width: 5%;
        }
        .NI211 div:last-child button {
            width: 5%;
        }
        /*Page content*/
        .page-content {
            padding: 72px 0 0;
            width: 80%;
            margin-left: auto;
            animation: slide-from-under 1s 0.4s ease;
        }
@keyframes slide-from-under{
    0%{
        opacity: 0;
        transform: translateY(50px)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}
.pageTitleBox {
    padding: 10px 1.5rem;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(56, 65, 74, 0.15);
    display: flex;
    
}
    .pageTitleBox h4 {
        font-weight: 700;
        font-size: 15px;
        text-transform: uppercase;
        font-family: Poppins, sans-serif;
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }
    .pageTitleBox p {
        color: #212529;
        display: flex;
        column-gap: 1rem;
        align-items: center;
        margin-bottom: 0;
    }
        .pageTitleBox p span:first-child {
            font-family: "Material Design Icons";
            font-size: 15px;
            line-height: 20px;
            color: #878a99;

        }
        .pageTitleBox p span:last-child {
            color: #878a99;
        }

.liveDot {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: middle;
}

    .liveDot::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 9999px;
        background: #34d399;
        opacity: .75;
        animation: live-ping 1s cubic-bezier(0,0,.2,1) infinite;
    }

    .liveDot::after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 9999px;
        background: #10b981;
    }
.liveDot1 {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: middle;
}

    .liveDot1::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 9999px;
        background: #f42d46;
        opacity: .75;
        animation: live-ping 1s cubic-bezier(0,0,.2,1) infinite;
    }

    .liveDot1::after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 9999px;
        background-color: red;
    }

@keyframes live-ping {
    75%,100% {
        transform: scale(2);
        opacity: 0;
    }
}
/*Graph Section*/
.graphSection{
    width: 100%;
    margin-bottom: 1.5rem;
}
.CardFrame:nth-of-type(1){
    width: 23%;
    height: 500px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.CardHeader {
    border-bottom: 1px solid #f3f3f9;
    padding: 1rem;
}
.cardBody{
    padding: 1rem;
    
}
.CardFrame2{
    width: 30%;
    height: 500px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.CardFrame3 {
    width: 45%;
    height: 500px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

/*Dahboard Table*/
.DashboardTableContainer:nth-of-type(1) {
    width: 60%;
    background-color: white;
    height: 400px;
    border-radius: 5px;
}
.DashboardTableContainer:nth-of-type(2) {
    width: 37%;
    background-color: white;
    height: 400px;
    border-radius: 5px;

}
.DashboardTableContainerE {
    width: 100%;
    background-color: white;
    height: 400px;
    border-radius: 5px;
    margin: 1.5rem 0;
}
.DTH {
    padding: 1rem;
    border-bottom: 1px solid #f3f3f9;
}


.DTHMain {
    background-color: #f3f6f9;
    width: 100%;
    height: 50px;
}
    .DTHMain th{
        padding-left: 0.8rem;

    }
    .DTB {
        height: 50px;
        margin-bottom: 0.8rem;
        width: 100%;
    }
.DTB td:nth-of-type(1){
    width: 30%;
    padding-left: 0.8rem;
}
    .DTB td:nth-of-type(2) {
        width: 25%;
        padding-left: 0.8rem;
    }
    .DTB td:nth-of-type(3) {
        width: 25%;
        padding-left: 0.8rem;
    }
    .DTB td:nth-of-type(4) {
        height: 50px;
        align-items: center;
    }
        .DTB td:nth-of-type(4) button{
            height: 40px

        }
.Footer {
    height: 60px;
    align-items: center;
    background-color: #fff;
    color: #98a6ad;
}