<div class="pageTitleBox  d-sm-flex align-items-center justify-content-between">
    <h4>All Staff</h4>
    <p>Staff <span>></span> <span>All Staff</span></p>
</div>


<div class="p-4 mt-2">
    <div class="card">
        <div class="card-body">
            <div class="row g-2">
                <div class="col-sm-4">
                    <div class="search-box">
                        <input type="text" class="form-control" id="searchMemberList" placeholder="Search for name or designation...">
                        <i class="ri-search-line search-icon"></i>
                    </div>
                </div>
                <!--end col-->
                <div class="col-sm-auto ms-auto">
                    <div class="list-grid-nav hstack gap-1">
                        <button type="button" id="list-view-button"
                                class="btn btn-soft-info nav-link btn-icon fs-14 active filter-button">
                            <i class="ri-list-unordered"></i>
                        </button>
                        <a asp-controller="Staff" asp-action="NewStaff" class="btn btn-success addMembers-modal">
                            <i class="ri-add-fill me-1 align-bottom"></i> Add Members
                        </a>
                    </div>
                </div>

                <!--end col-->
            </div>
            
    </div>
</div>

    <div class="table-responsive">
        <table class="table align-middle mb-0">
            <thead class="table-light">
                <tr>
                    <th scope="col">Staff</th>
                    <th scope="col">Role</th>
                    <th scope="col">Department</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Status</th>
                    <th scope="col">Visit</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="d-flex gap-2 align-items-center">
                            <div class="flex-shrink-0">
                                <img src="~/images/users/avatar-3.jpg" alt="" class="avatar-xs rounded-circle" />
                            </div>
                            <div class="flex-grow-1">
                                Alabi Dominion
                            </div>
                        </div>
                    </td>
                    <td>Manager</td>
                    <td>Administrator</td>
                    <td>alabidominion@gmail.com</td>
                    <td>07061061211</td>
                    <td>Active</td>
                    <td>
                        <div class="hstack flex-wrap gap-2 mb-3 mb-lg-0">
                            <button class="btn btn-outline-success btn-border">Visit</button>
                        </div>
                    </td>    
                </tr>
                <tr>
                    <td>
                        <div class="d-flex gap-2 align-items-center">
                            <div class="flex-shrink-0">
                                <img src="~/images/users/avatar-3.jpg" alt="" class="avatar-xs rounded-circle" />
                            </div>
                            <div class="flex-grow-1">
                                Alabi Dominion
                            </div>
                        </div>
                    </td>
                    <td>Manager</td>
                    <td>Administrator</td>
                    <td>alabidominion@gmail.com</td>
                    <td>07061061211</td>
                    <td>Active</td>
                    <td>
                        <div class="hstack flex-wrap gap-2 mb-3 mb-lg-0">
                            <button class="btn btn-outline-success btn-border">Visit</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex gap-2 align-items-center">
                            <div class="flex-shrink-0">
                                <img src="~/images/users/avatar-3.jpg" alt="" class="avatar-xs rounded-circle" />
                            </div>
                            <div class="flex-grow-1">
                                Alabi Dominion
                            </div>
                        </div>
                    </td>
                    <td>Manager</td>
                    <td>Administrator</td>
                    <td>alabidominion@gmail.com</td>
                    <td>07061061211</td>
                    <td>Active</td>
                    <td>
                        <div class="hstack flex-wrap gap-2 mb-3 mb-lg-0">
                            <button class="btn btn-outline-success btn-border">Visit</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex gap-2 align-items-center">
                            <div class="flex-shrink-0">
                                <img src="~/images/users/avatar-3.jpg" alt="" class="avatar-xs rounded-circle" />
                            </div>
                            <div class="flex-grow-1">
                                Alabi Dominion
                            </div>
                        </div>
                    </td>
                    <td>Manager</td>
                    <td>Administrator</td>
                    <td>alabidominion@gmail.com</td>
                    <td>07061061211</td>
                    <td>Active</td>
                    <td>
                        <div class="hstack flex-wrap gap-2 mb-3 mb-lg-0">
                            <button class="btn btn-outline-success btn-border">Visit</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex gap-2 align-items-center">
                            <div class="flex-shrink-0">
                                <img src="~/images/users/avatar-3.jpg" alt="" class="avatar-xs rounded-circle" />
                            </div>
                            <div class="flex-grow-1">
                                Alabi Dominion
                            </div>
                        </div>
                    </td>
                    <td>Manager</td>
                    <td>Administrator</td>
                    <td>alabidominion@gmail.com</td>
                    <td>07061061211</td>
                    <td>Active</td>
                    <td>
                        <div class="hstack flex-wrap gap-2 mb-3 mb-lg-0">
                            <button class="btn btn-outline-success btn-border">Visit</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex gap-2 align-items-center">
                            <div class="flex-shrink-0">
                                <img src="~/images/users/avatar-3.jpg" alt="" class="avatar-xs rounded-circle" />
                            </div>
                            <div class="flex-grow-1">
                                Alabi Dominion
                            </div>
                        </div>
                    </td>
                    <td>Manager</td>
                    <td>Administrator</td>
                    <td>alabidominion@gmail.com</td>
                    <td>07061061211</td>
                    <td>Active</td>
                    <td>
                        <div class="hstack flex-wrap gap-2 mb-3 mb-lg-0">
                            <button class="btn btn-outline-success btn-border">Visit</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex gap-2 align-items-center">
                            <div class="flex-shrink-0">
                                <img src="~/images/users/avatar-3.jpg" alt="" class="avatar-xs rounded-circle" />
                            </div>
                            <div class="flex-grow-1">
                                Alabi Dominion
                            </div>
                        </div>
                    </td>
                    <td>Manager</td>
                    <td>Administrator</td>
                    <td>alabidominion@gmail.com</td>
                    <td>07061061211</td>
                    <td>Active</td>
                    <td>
                        <div class="hstack flex-wrap gap-2 mb-3 mb-lg-0">
                            <button class="btn btn-outline-success btn-border">Visit</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex gap-2 align-items-center">
                            <div class="flex-shrink-0">
                                <img src="~/images/users/avatar-3.jpg" alt="" class="avatar-xs rounded-circle" />
                            </div>
                            <div class="flex-grow-1">
                                Alabi Dominion
                            </div>
                        </div>
                    </td>
                    <td>Manager</td>
                    <td>Administrator</td>
                    <td>alabidominion@gmail.com</td>
                    <td>07061061211</td>
                    <td>Active</td>
                    <td>
                        <div class="hstack flex-wrap gap-2 mb-3 mb-lg-0">
                            <button class="btn btn-outline-success btn-border">Visit</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex gap-2 align-items-center">
                            <div class="flex-shrink-0">
                                <img src="~/images/users/avatar-3.jpg" alt="" class="avatar-xs rounded-circle" />
                            </div>
                            <div class="flex-grow-1">
                                Alabi Dominion
                            </div>
                        </div>
                    </td>
                    <td>Manager</td>
                    <td>Administrator</td>
                    <td>alabidominion@gmail.com</td>
                    <td>07061061211</td>
                    <td>Active</td>
                    <td>
                        <div class="hstack flex-wrap gap-2 mb-3 mb-lg-0">
                            <button class="btn btn-outline-success btn-border">Visit</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex gap-2 align-items-center">
                            <div class="flex-shrink-0">
                                <img src="~/images/users/avatar-3.jpg" alt="" class="avatar-xs rounded-circle" />
                            </div>
                            <div class="flex-grow-1">
                                Alabi Dominion
                            </div>
                        </div>
                    </td>
                    <td>Manager</td>
                    <td>Administrator</td>
                    <td>alabidominion@gmail.com</td>
                    <td>07061061211</td>
                    <td>Active</td>
                    <td>
                        <div class="hstack flex-wrap gap-2 mb-3 mb-lg-0">
                            <button class="btn btn-outline-success btn-border">Visit</button>
                        </div>
                    </td>
                </tr>
            </tbody>  
        </table>
    </div>
    


